<div class="w-100 text-center">
    <h1>Info</h1>
</div>
<div class="col-md-12">
    <div class="col-md-6 container">
        {{#each info}}
        <p>{{@key}}: {{this}}</p>
        {{/each}}
    </div>
</div>