<div class="w-100 text-center">
    <h1>Registro de Usuario</h1>
</div>
<div class="col-md-12">
    <div class="col-md-4 container">
        <form class="col-md-12 d-flex p-0 flex-column" method="post" action="/api/usuario/register">
            <label class="form-label" for="thumbnail">Nombre:</label>
            <input type="text" class="col-md-12 form-control mb-2" name="firstName" />

            <label class="form-label" for="thumbnail">Apellido:</label>
            <input type="text" class="col-md-12 form-control mb-2" name="lastName" />

            <label class="form-label" for="thumbnail">Nombre de usuario:</label>
            <input type="text" class="col-md-12 form-control mb-2" name="username" />

            <label class="form-label" for="thumbnail">Email:</label>
            <input type="email" class="col-md-12 form-control mb-2" name="email" />

            <label class="form-label" for="thumbnail">Contraseña:</label>
            <input type="password" class="col-md-12 form-control mb-2" name="password" />
            <button class="btn btn-primary btn-block mb-2" type="submit">Registrar</button>

            <p class="text-center">¿Ya estás registrado? <a href="/login">Inicia Sesión</a>.</p>
        </form>
    </div>
</div>